{% extends 'header.html' %}

{% block content %}
<main>
    
    <head>
        
    
        <h1 class="text-center">Buscador Rick & Morty</h1>
    </head>
    <!-- Selector de página -->
    
    <div class="d-flex justify-content-end" style="margin-bottom: 1%; margin-right: 2rem;">
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if query %}&query={{ query }}{% endif %}">«</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&query={{ query }}{% endif %}">‹</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">«</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">‹</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link">{{ num }}</a>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if query %}&query={{ query }}{% endif %}">{{ num }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&query={{ query }}{% endif %}">›</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}">»</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">›</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">»</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Buscador del sitio -->
    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Escribí una palabra" value="{{ query|default:'' }}" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>

    <!-- Imágenes -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% if page_obj.object_list|length == 0 %}
        <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
        {% else %}
        {% for img in page_obj.object_list %}
        <div class="col">
            <div class="card mb-3 ms-5" style="max-width: 540px;
              {% if img.status == 'Alive' %}
                border: 5px solid green;
              {% elif img.status == 'Dead' %}
                border: 5px solid red;
              {% elif img.status == 'unknown' %}
                border: 5px solid violet;
              {% endif %}
            ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ img.url }}" class="card-img-top" alt="imagen">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ img.name }}</h3>
                            <p class="card-text">
                                <strong>
                                    {% if img.status == 'Alive' %}
                                    🟢 {{ img.status }}
                                    {% elif img.status == 'Dead' %}
                                    🔴 {{ img.status }}
                                    {% else %}
                                    🟣 {{ img.status }}
                                    {% endif %}
                                </strong>
                            </p>
                            <p class="card-text"><small class="text-body-secondary">Última ubicación: {{ img.last_location }}</small></p>
                            <p class="card-text"><small class="text-body-secondary">Episodio inicial: {{ img.first_seen }}</small></p>
                        </div>
                        {% if request.user.is_authenticated %} 
                        <div class="card-footer text-center"> 
                        <form method="post" action="{% url 'agregar-favorito' %}"> 
                        {% csrf_token %} 
                        <input type="hidden" name="name" value="{{ img.name }}"> 
                        <input type="hidden" name="url" value="{{ img.url }}"> 
                        <input type="hidden" name="status" value="{{ img.status }}"> 
                        <input type="hidden" name="last_location" value="{{ img.last_location }}"> 
                        <input type="hidden" name="first_seen" value="{{ img.first_seen }}"> 
                        {% if img in favourite_list %} 
                        <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" disabled>✔️ Ya está en favoritos</button> 
                        {% else %} 
                        <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white">❤️ Añadir a favoritos</button> 
                        {% endif %} 
                        </form> 
                        </div> 
                        {% endif %} 
                        </div> 
                        </div> 
                        </div> 
                        </div> 
                        {% endfor %} 
                        {% endif %} 
                        </div> 
                        </main> 
                        {% endblock %}

                        